<div class='logo'>
  <div class='imageOne image'><img class='bulb-dark' src='http://i.imgur.com/gJUwydU.png'></div>
  <div class='imageTwo image'><img class='bulb-light' src='http://i.imgur.com/gJUwydU.png'></div>
</div>
<div class='container'>
  <div ng-controller='AboutController as about' class='about'>
    <span>
      <h3>Professional</h3>
    </span>
    <p>I have finished up my course in the Boston General Assembly <a href='{{about.ga}}' target='_blank'>Web Development Immersive (WDI)</a> program to acquire the skills to bring ideas to the web.</p>
    <p>I have a background in financial services where I last managed the daily operations of a platform of alternative investments (i.e., hedge funds, private equities, etc.) for high net worth clients.</p>
    <p>I want to take my experience working well under pressure to produce user-friendly results from complex information into the public forum that is the world wide web.</p>
    <p>After 12 weeks of coding, I am now a junior level full stack web developer excited to bring my new skills to a company within the Greater Boston tech community and have the opportunity to do some contract work until then.</p>
  </div>

  <div ng-controller='AboutController as about' class='about'>
    <span>
      <h3>Personal</h3>
    </span>
    <p>I grew up in <a href='{{about.scarborough}}' target='_blank'>Scarborough, Maine</a> where I enjoyed the beach in the summer and mountains in the winter.</p>
    <p>Having lived in Greater Boston for the past six years, I spend free time with friends, cheering on the Boston sports teams, playing guitar, and otherwise staying in motion.</p>
  </div>

</div>
