<div id='navArea'>
      <div class='navLogo'>
        <div class="navImageOne image"><img class='nav-bulb-dark' src='http://i.imgur.com/gJUwydU.png'></div>
        <div class="navImageTwo image"><img class='nav-bulb-light' src='http://i.imgur.com/gJUwydU.png'></div>
        <h1>at Needham</h1>
      </div>
      <nav class="navbar">
        <!-- <h1><i class="fa fa-lightbulb-o"></i> Pat Needham</h1> -->

        <ul>
          <li class="brand"><a  href="#/" title="">Home</a></li>
          <li class="brand"><a  href="#/about" title="">About</a></li>
          <li class="brand"><a  href="#/work" title="">Work</a></li>
          <li class="brand"><a  href="#/blog" title="">Blog</a></li>
        </ul>
      </nav>
    </div>
