<div class='logo'>
  <div class='imageOne image'><img class='bulb-dark' src='http://i.imgur.com/gJUwydU.png'></div>
  <div class='imageTwo image'><img class='bulb-light' src='http://i.imgur.com/gJUwydU.png'></div>
</div>
<div class='container'>
  <div ng-controller='WorksController as work' class='about'>
    <span>
      <h3>Project 1</h3>
      <h5>We Watch/We Review</h5>
      <p><a href='{{work.wwwr}}' target='_blank'>WWWR</a></p>
      <p><a href='https://github.com/goodeats/wewatchwereview' target='_blank'>Github</a> - works in dev (clone, bundle, rake, run)</p>
      <p>a movie review site for friends</p>
    </span>
    <p>(the sign in/sign on is broken, but I'll fix after Project 3 is finished)</p>
    <p>This is a pure Ruby on Rails app to allow users to provide movie reviews for their friends. There is no front end app as all views are completed using erb files. While this was fun to build my first web app, I am happy now to be able to use JSON to push back end data to front end apps using JavaScript. </p>
    <p>The idea came during the controversy of the release of the movie The Interview and the subsequent reviews that came out suggesting how bad the movie was. My friends and I enjoyed it very much and decided reviews didn't matter unless they came from the people who mattered most.</p>
    <p>Refactoring will be necessary as I feel my CSS skills have come a long way since this project was submitted. More features will need to be added such as allowing reviews to be private only to friends and using the Rotten Tomatoes API to pull movie titles and their posters. Heroku breaks the app after sign  in which of course is an issue I will fix once I am ready to post my 3rd and final project which I am more proud of and, therefore, takes precedent.</p>
  </div>
  <div ng-controller='WorksController as work' class='about'>
    <span>
      <h3>Project 2</h3>
      <h5>Team Berners-Lee (Group Project)</h5>
      <p><a href='{{work.project_2}}' target='_blank'>TBL</a></p>
      <p><a href='https://github.com/TeamBerners-Lee' target='_blank'>Github</a></p>
      <p>a project management web app</p>
    </span>
    <p>This project allowed us to work with our newly added JavaScript skills. Previously, our work had been done on status Ruby on Rails apps. The erb files made it difficult to build pages dynamically which is much easier when using HTML, CSS, and JavaScript files.</p>
    <p>What made this project more interesting was the opportunity to work in a team of three. We started by brainstorming our process together with a whiteboarding session before touching any code. We set up an organization on Github and opted to use pull requests when updating the project. It was enjoyable being able to split up to hammer out straightforward pieces or pair together to attack code as a team.</p>
    <p>One of the focuses I enjoyed with this project was getting to learn and play around with Backbone.js and Handlebars.js. It was cool to keep everything on one page by hiding and showing information when the links were clicked. It would be nice to work with these again in the future.</p>
    <p>One of the aspects of this project was uploading an avatar via Amazon Web Services. I didn't work that heavily on this aspect of our project which is why I wanted to go back to it for Project 3.</p>
  </div>
  <div ng-controller='WorksController as work' class='about'>
    <span>
      <h3>Project 3</h3>
      <h5>Devourr</h5>
      <p><a href='https://github.com/goodeats/devourrAPI' target='_blank'>Back End</a></p>
      <p><a href='https://github.com/goodeats/devourrApp' target='_blank'>Front End</a></p>
      <p><a href='https://github.com/goodeats/DevourrBackbone' target='_blank'>Front End (Backbone)</a> - currently working on with a focus on design - <a href='http://goodeats.github.io/DevourrBackbone/' target='_blank'>see it live!</a></p>
      <p>a food picture sharing web app with social features (aka "foodstagram")</p>
      <p>(still under construction, deploying live soon)</p>
    </span>
    <p>Similar to Project 2, this is a Rails back end API pointing to a JavaScript front end. This was my first foray into Angular.js. It took a while to get used to the framework which called for creating files for controllers, directives, factories, and views. Once I got the hang of it, a flow seemed to form with building out different features of the site (quick note: patneedham.me is also built on Angular.js).</p>
    <p>The inspiration for this project stemmed from my own desire to expand my  cooking ability and not eat out as much since it gets expensive. I care less for recipe sites since they tend to be crafted by "expert" cooks who use more ingredients than I would buy outside of their recipe. I feel that a social app that is dedicated to food pics would be engaging to view even when not eating because it's with friends. We trust our friends more than strangers so we might as well share ideas of food so that we can make better decisions.</p>
    <p>Pictures will need to be stored in Amazon Web Services - which is currently in process of implementation.</p>
  </div>
  <div ng-controller='WorksController as work' class='about'>
    <span>
      <h3>Side Project</h3>
      <h5>What is @patneedham_ Tweeting?</h5>
      <p><a href='http://goodeats.github.io/twizzer_frontend/' target='_blank'>Github Pages Site</a></p>
      <p>playing around with the Twitter API</p>
    </span>
    <p>This was a homework assignment from General Assembly that I enjoyed in playing with content from one of the world's largest content providers: Twitter!</p>
    <p>I used Ruby on Rails to set up the authentication with Twitter's API to call the last 20 tweets of a user by their Twitter handle and send all content that comes with each tweet to a JSON object. While many of the projects we did at GA required us to build content ourselves, I found this assignment fun because I only had to worry about working with the output. No database necessary to seed or maintain allowed me to concentrate fully on the front-end after the API was up and running.</p>
    <p>Once my API was ready, I used Yeoman to scaffold a web app with jQuery. I used jQuery to make AJAX requests to the back-end server's calls to Twitter's API. While the app is admittedly very simple, it was fun filtering through the tweet metadata to post out a few items including a picture if there is one.</p>
    <p>Features I might add later would be to add some styling depending on how many retweets or favorites a tweet has.</p>
  </div>
</div>
